@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.widthmax{
  width: 150px;
}

.centerpix{
  margin-left: 1px;
  margin-bottom: 1px;
}

.yellow{
  color: rgb(90, 90, 90);
  background-color: rgb(245, 245, 89);
}